body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.blue {
  color: #62b5e5;
}

.grey {
  color: #67899c;
}

.green {
  color: #addc91;
}

.login-page {
  height: auto;
  width: 100%;
  margin-top: 10vh;
  background: white;
  padding: 1em 0;
  position: relative;
  transition: height 0.5s;
}

.login-page button {
  width: 100%;
  color: white;
  font-size: 1em;
}

.login-page input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
